mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
    margin-top: 6px;;
}

.content > mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.example-card {
    max-width: 400px;
    margin: 6px;
    background-color: #fafafa;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .example-margin {
  margin: 0 12px;
}

.strike-through {
    text-decoration: line-through;
}